article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    font: 18px Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
    background: #000;
    color: white;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
    padding-left: 2.5rem;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav > ul > li {
    margin-right: 3.125rem;
}

/* Middle
-----------------------------------------------------------------------------*/

main {
    margin-left: 10%;
    margin-right: 10%;
}

section {
    margin-top: 0.625rem;
}

.headline {
    font-size: 2.1875rem;
    margin: 0.3125rem 0;
    padding: 0.3125rem 0;
    font-weight: bold;
    line-height: 2.5rem;
}

.articles {
    max-width: 43.75rem;
    margin-top: 1.875rem;
    margin-bottom: 3.125rem;
}

img {
    width: 100%;
}

p {
    margin-top: 1.25rem !important;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    height: 6.25rem;
    background: #000;
}

@media only screen and (max-width: 320px) {

    nav {
        text-align: center;

    }


}

@media only screen and (min-width: 320px) {
    body {
        background-color: aqua;
    }

    nav {
        text-align: center;
    }


}

@media only screen and (min-width: 480px) {
    body {
        background-color: aquamarine;
    }

    nav {
        text-align: center;
    }

    nav > ul {
        list-style-type: none;
    }


}

@media only screen and (min-width: 630px) {
    body {
        background-color: darkorchid;
    }

    nav {
        text-align: center;
    }

    nav > ul > li {
        display: inline;
    }

}

@media only screen and (min-width: 768px) {
    body {
        background-color: cyan;
    }


    nav {
        text-align: left;
    }

    nav > ul > li {
        display: inline;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        background-color: darkcyan;
    }

    nav {
        text-align: left;
    }

    nav > ul > li {
        display: inline;
    }
}
